# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: poetry run black src tests
        language: system
        types: [python]

    -   id: pytest
        name: pytest
        entry: poetry run pytest src tests
        pass_filenames: false
        always_run: true
        language: system
