[tool.poetry]
name = "evergreen.py"
version = "1.2.1"
description = "Python client for the Evergreen API"
authors = [
    "Alexander Costas <alexander.costas@mongodb.com>",
    "Cristopher Stauffer <cristopher.stauffer@mongodb.com>",
    "David Bradford <david.bradford@mongodb.com>",
    "Jeff Zambory <jeff.zambory@mongodb.com>",
    "Jim O'Leary <jim.oleary@mongodb.com>",
    "Lydia Stepanek <lydia.stepanek@mongodb.com>",
]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/evergreen-ci/evergreen.py"
packages = [
    { include = "evergreen", from = "src" },
]

[tool.poetry.scripts]
evg-api = "evergreen.cli.main:main"

[tool.poetry.dependencies]
python = "^3.7"
Click = "^7.0"
python-dateutil = "^2.8.1"
PyYAML = "^5.1"
requests = "^2.22.0"
structlog = "^19.1.0"
tenacity = "^5.0.4"

[tool.poetry.dev-dependencies]
pytest = "^5.3"
pytest-black = "^0.3.7"
pytest-cov = "^2.8"
pytest-flake8 = "^1.0"
pytest-mypy = "^0.4"
pytest-pydocstyle = "^2.0"

[tool.black]
line-length = 100
